In [3]:
import pandas as pd

In [106]:
import re

# Задание 1
Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
  - оценка 2 и меньше - низкий рейтинг
  - оценка 4 и меньше - средний рейтинг
  - оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [76]:
#читаем файл
func = pd.read_csv('ml-latest-small/ratings.csv')
func.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [77]:
# задаем функцию, по которой будет вычисляться рейтинг
def ocenka(rating):
    if rating <= 2:
        return 'низкий ретинг'
    elif rating <= 4:
        return 'средний ретинг'    
    else:
        return 'высокий рейтинг'

In [78]:
#добавляем столбец class
func['class'] = func['rating'].apply(ocenka)
func

        userId  movieId  rating   timestamp            class
0            1        1     4.0   964982703   средний ретинг
1            1        3     4.0   964981247   средний ретинг
2            1        6     4.0   964982224   средний ретинг
3            1       47     5.0   964983815  высокий рейтинг
4            1       50     5.0   964982931  высокий рейтинг
...        ...      ...     ...         ...              ...
100831     610   166534     4.0  1493848402   средний ретинг
100832     610   168248     5.0  1493850091  высокий рейтинг
100833     610   168250     5.0  1494273047  высокий рейтинг
100834     610   168252     5.0  1493846352  высокий рейтинг
100835     610   170875     3.0  1493846415   средний ретинг

[100836 rows x 5 columns]

# Задание 2
Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце 'region' пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим 'undefined'.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

geo_data = {

    'Центр': ['москва', 'тула', 'ярославль'],

    'Северо-Запад': ['петербург', 'псков', 'мурманск'],

    'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']

}

Результат классификации запишите в отдельный столбец region.

In [142]:
#читаем файл
keywords = pd.read_csv('keywords.csv')
keywords.head()

         keyword     shows
0             вк  64292779
1  одноклассники  63810309
2          порно  41747114
3           ютуб  39995567
4      вконтакте  21014195

In [120]:
geo_data = {
    'Центр': ['москва', 'тула', 'ярославль'],
    'Северо-Запад': ['петербург', 'псков', 'мурманск'],
    'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

In [143]:
def classif(row):
    
    keyword_set = set(re.split(r'[\;\,\. ]', row['keyword'].lower()))
    for region, city_list in geo_data.items():
        for el in keyword_set:
            if el in city_list:
                return region

        return 'undefined'

In [144]:
keywords['region'] = keywords.apply(classif, axis = 1)
keywords

                       keyword     shows     region
0                           вк  64292779  undefined
1                одноклассники  63810309  undefined
2                        порно  41747114  undefined
3                         ютуб  39995567  undefined
4                    вконтакте  21014195  undefined
...                        ...       ...        ...
99995   эльдорадо старый оскол      3705  undefined
99996      frigate для firefox      3630  undefined
99997                   укрсиб      3630  undefined
99998  погода в ялте на неделю      3688  undefined
99999                     ггму      3630  undefined

[100000 rows x 3 columns]